<h1>Edit</h1>
<%= form_with(model: @uploaded_file, local: true) do |form| %>
  <% if @uploaded_file.file_type == "docx" %>
    <script>
      const content = "<%= @content %>";
      const inputName = "uploaded_file[content]";
    </script>
    <div id="root"></div>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <% elsif @uploaded_file.file_type == "txt" %>
    <%= form.text_area :content, value: @content, class: 'form-textarea' %>
  <% end %>
  <%= form.submit 'Update' %>
<% end %>

<%= link_to "Back", root_path %>
